* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #0b2e13;
  color: #cfe9c8;
}
